<%- include partials/header %>
                
                <% if (movies.length==0){ %>
                    <h2>Sorry, couldn't find any movies!</h2>
                <% } %>
            
                <% for (let i=0; i<movies.length; i++){ %>
                <div class='media'>
                    <img class='mr-3' src=<%=`https://image.tmdb.org/t/p/w200${movies[i].poster_path}`%> alt='Movie poster'>
                    <div class='media-body'>
                        <h5 'mt-0'>Title: <%= movies[i].title  %> </h5>
                        <a href='/movie/<%= movies[i].id %>'>More</a>
                    </div>
                </div>
                <%}%>   
        </div>
    </body>
</html>