<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="./css/styles.css" rel="stylesheet"> 
    </head>
    <body>
        <div class='container'>

            <div class='jumbotron'>
                <div class='container'>
                <h1 class='display-4'>Hello Movies</h1>
                <p>Welcome, Even I don't know what this app does</p>
                </div>
            </div>
            
                <% for (let i=0; i<movies.length; i++){ %>
                <div class='media'>
                <img class="mr-3" src="..." alt="Generic placeholder image">
                <div class='media-body'><h5 'mt-0'>Title: <%= movies[i].title  %> </h5>
                <h5 'mt-0'>Plot: <%= movies[i].plot  %> </h5>
                </div></div>
                <%}%>
            </div>

        </div>
    </body>
</html>